.card {
  @media (max-width: 767px) {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 16px;
    grid-template-rows: 1fr 40px;
  }

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.card__link-img {
  width: 140px;
  height: 107px;

  @media (min-width: 768px) {
    width: 200px;
    height: 210px;
    margin: 0 auto 23px;
  }

  @media (min-width: 1300px) {
    width: 160px;
    height: 210px;
    margin-bottom: 12px;
  }
}

.card__img {
  display: block;
  width: 140px;
  height: 107px;
  margin-top: 0;

  @media (min-width: 768px) {
    width: 200px;
    height: 210px;
  }
}

.card__description {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.card__link-title {
  text-decoration: none;

  @media (min-width: 768px) {
    display: flex;
    text-align: center;

    max-width: 135px;
    margin: 0 auto 13px;
  }

  @media (min-width: 1300px) {
    margin-bottom: 16px;
  }
}

.card__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-text-card;

  @media (max-width: 767px) {
    margin-bottom: 14px;
    width: 76px;
  }

  @media (min-width: 400px) {
    width: auto;
  }

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.card__text {
  margin: 0;
  padding: 0;
  font-family: $font-text;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $color-text;

  @media (min-width: 768px) {
    margin-top: auto;
    margin-bottom: 31px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: 1300px) {
    margin-bottom: 33px;
  }
}

.card__wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: 768px) {
    padding: 6px 0 5px;
    border-bottom: 1px solid $color-line-gray;
    gap: 30px;
  }

  @media (min-width: 1300px) {
    padding: 6px 0 7px;
  }
}

.card__value {
  margin: 0;
  width: 100px;
  text-align: end;
}

.card__link-button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: $font-heading;
  font-weight: 400px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: $color-white;
  text-transform: uppercase;
  text-align: center;
  background-color: $color-bg-green;

  @media (max-width: 767px) {
    grid-column: span 2;
  }

  @media (min-width: 768px) {
    padding: 10px;
  }
}

.card__link-title--plus {
  position: relative;

  @media (max-width: 767px) {
    grid-column: span 2;
    margin-bottom: 6px;
  }

  @media (min-width: 768px) {
    min-width: 170px;
    flex-direction: column;
    padding: 94px 0 0;
  }

  @media (min-width: 1300px) {
    padding: 82px 0 0;
  }
}

.card__link-title--plus::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translateX(-50%);
  background-image: url("../img/stek/stek.svg#icon-plus");
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    top: 45px;
    width: 60px;
    height: 60px;
    background-image: url("../img/stek/stek.svg#icon-plus-tablet");
  }

  @media (min-width: 1300px) {
    top: 42px;
  }
}

.card__title--pius {
  width: auto;
  text-align: center;
  margin: 0 0 8px;
  padding: 57px 0 0;

  @media (min-width: 768px) {
    margin-bottom: 23px;
  }
}

.card__text--pius {
  width: auto;
  text-align: center;
  margin: 0;
}

.card__link-button--plus {
  background-color: $color-bg-light-gray;
  color: $color-text;

  @media (min-width: 768px) {
    margin-top: auto;
    margin-bottom: 0;
  }
}
