.catalog__list {
  display: grid;
  grid-template-columns: 1fr;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    margin: 0 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 58px;
  }

  @media (min-width: 1300px) {
    max-width: 1220px;
    margin: 0 auto;
    grid-template-columns: 245px 245px 245px 245px;
    column-gap: 80px;
    row-gap: 64px;
  }
}

@media (min-width: 768px) {
  .catalog__item:not(:last-child) {
    background: linear-gradient(180deg, #ffffff 16%, #f2f2f2 16%);
  }
}

.catalog__item {
  @media (max-width: 767px) {
    padding: 20px 0 25px;
    border-top: 1px solid $color-bg-light-gray;

    &:last-child {
      border-bottom: 1px solid $color-bg-light-gray;
    }
  }

  @media (min-width: 768px) {
    padding: 7px 37px 40px;
    border: none;
  }

  @media (min-width: 1300px) {
    padding: 7px 38px 40px;
  }
}

.catalog__item--plus {
  @media (min-width: 768px) {
    outline: 2px solid $color-bg-light-gray;
    outline-offset: -2px;
    margin-top: 80px;
  }
}
