.example {
  background-color: $color-bg-gray;
}

.example__wrapper {
  padding: 0 20px 40px;
  margin: 0 auto;
}

.example__title {
  padding-top: 25px;
  margin-bottom: 42px;
}

.example__text {
  margin-bottom: 20px;
  font-family: $font-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $color-black;
}

.example__wrapper-items {
  margin-bottom: 20px;
}

.example__items {

  display: flex;
  justify-content: center;
  gap: 32px;
}

.example__item-border {
  position: relative;
  box-sizing: border-box;
  width: 124px;
  height: 56px;
  padding-top: 14px;
  border: 1px solid $color-line-gray;
  border-radius: 4px;
}

.example__weight {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;

  font-family: $font-heading;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.example__description {
  position: absolute;
  top: 48px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0 16px;
  font-family: $font-text;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
  background-color: $color-bg-gray;
}

.example__subtitle {
  margin: 0 0 20px;
  font-family: $font-heading;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $color-black;
  text-transform: uppercase;
  text-align: center;
}

.example__wrapper-img {
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.example__image {
  width: 50%;
  overflow: hidden;
}

.example__img {
  display: block;
  width: 200%;
  max-width: 200%;
}

.example__image-2 {
  width: 50%;
  overflow: hidden;

  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.example__img-2 {
  display: block;
  // border: 1px solid #0400ff;
  // width: 200%;
  position: absolute;
  width: 200%;
  max-width: 200%;
  // height: auto;
  top: 0;
  right: 0;
}

.example__button {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(102, 102, 102, 0);
  border: none;
  margin: 0;
  padding: 0;
}

.example__button::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  width: 4px;
  border-radius: 4px;
  background-color: #666666;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
}

.example__button::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #666666;
}

.example__button:hover::after {
  background-color: #68b738;
}

.example__button:hover::before {
  border: 2px solid #68b738;
}

.example__button:hover path {
  fill: #68b738;
}

.example__button:active {
  opacity: 0.6;
}

@media (max-width: 767px) {
  .example__items {
    margin-bottom: 37px;
  }
}

@media (min-width: 768px) {
  .example {
    min-height: 1080px;
    background: linear-gradient(180deg, #ffffff 57.26%, #eaeaea 57.26%);
  }

  .example__wrapper {
    padding: 0 30px 101px;
  }

  .example__title {
    padding-top: 45px;
    margin-bottom: 60px;
  }

  .example__text {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__wrapper-items {
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .example__items {
    justify-content: flex-start;
    gap: 42px;
  }

  .example__item-border {
    width: 162px;
    height: 72px;
    padding-top: 15px;
    border: 1px solid $color-line-gray;
    border-radius: 4px;
  }

  .example__weight {
    font-size: 30px;
    line-height: 37px;
  }

  .example__description {
    position: absolute;
    top: 63px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0 10px;
    font-size: 14px;
    line-height: 14px;
    white-space: nowrap;
    background-color: $color-white;
  }

  .example__subtitle {
    margin: 0 0 0;
    padding-left: 20px;
    width: 180px;
    // font-family: $font-heading;
    // font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    // color: $color-black;
    // text-transform: uppercase;
    text-align: end;
  }

  .example__subtitle span {
    display: block;
    margin-top: 12px;
  }

  .example__wrapper-img {
    margin: 0 75px;
  }
}

@media (min-width: 1260px) {
  .example {
    min-height: auto;
    background: linear-gradient(180deg, #ffffff 23%, #eaeaea 23%);
  }

  .example__wrapper {
    position: relative;
    padding: 0 0 75px;
    max-width: 1220px;
    margin: 0 auto;
  }

  .example__title {
    padding: 0 0 20px;
    margin: 0;
    max-width: 700px;
  }

  .example__text {
    width: 432px;
    padding-top: 125px;
    margin: 0 0 70px;
  }

  .example__wrapper-items {
    margin: 0;
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 60px;
  }

  .example__items {
    margin: 0;
  }

  .example__item-border {
    height: 72px;
  }

  .example__description {
    position: absolute;
    top: 62px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 10px;
    white-space: nowrap;
    background-color: $color-bg-gray;
  }

  .example__subtitle {
    margin: 0 0 0;
    padding-left: 0;
    width: auto;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
  }

  .example__subtitle span {
    display: inline;
    margin-bottom: 0;
    margin-left: 63px;
  }

  .example__wrapper-img {
    position: absolute;
    bottom: 85px;
    right: 0;
    min-width: 560px;
    margin: 0;
  }
}
