.footer {
  background-color: $color-bg-gray;
}

.footer_wrappers {
  padding: 20px 20px;

  display: flex;
  flex-direction: column;
}

.footer__wrapper {
  width: 100%;
  padding: 20px 0;

  display: flex;
  justify-content: center;
}

.footer__wrapper:not(:last-child) {
  border-bottom: 1px solid $color-line-gray;
}

.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 3px;
  cursor: pointer;
}

.footer__link-copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: $font-text;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: $color-text;
}

@media (min-width: 678px) {
  .footer_wrappers {
    padding: 55px 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__wrapper {
    width: auto;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .footer__wrapper:not(:last-child) {
    border-bottom: none;
  }

  .footer__link-copyright {
    width: auto;
    justify-content: end;
    gap: 23px;
  }
}

@media (min-width: 1260px) {
  .footer_wrappers {
    width: 1220px;
    margin: 0 auto;
    padding: 66px 0;
  }
}
