.footer {
  background-color: $color-bg-gray;
}

.footer__wrappers {
  padding: 16px 20px 20px;

  display: flex;
  flex-direction: column;
}

.footer__wrapper {
  width: 100%;
  padding: 20px 0;

  display: flex;
  justify-content: center;
}

.footer__wrapper:nth-child(2) {
  padding: 15px 0 12px;
}

.footer__wrapper:not(:last-child) {
  border-bottom: 1px solid $color-line-gray;
}

.footer__wrapper:last-child {
  padding: 28px 0 25px;
}

.footer__link-logo {
  mask-image: url("../img/stek/stek.svg#logo-text");
  background-color: #111111;
  width: 128px;
  height: 24px;
  padding: 0 20px;
}

.footer__link-logo:hover {
  background-color: #3e3e3e;
}

.footer__link-logo:active {
  background-color: #6b6b6b;
}

.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;

  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 6px 3px;
  cursor: pointer;
}

.footer__link--vk {
  mask-image: url("../img/stek/stek.svg#vk");
  background-color: #666666;
  width: 26px;
  height: 20px;
}

.footer__link--youtub {
  mask-image: url("../img/stek/stek.svg#youtub");
  background-color: #666666;
  width: 26px;
  height: 20px;
}

.footer__link--telegram {
  mask-image: url("../img/stek/stek.svg#telegram");
  background-color: #666666;
  width: 26px;
  height: 20px;
}

.footer__link:hover {
  background-color: #68b738;
}

.footer__link:active {
  background-color: rgba(105, 183, 56, 0.3);
}


.footer__link-copyright {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: $font-text;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: $color-text;
}

.footer__copyright-text {
  margin: 0;
}

.footer__copyright-text::before {
  position: absolute;
  content: "";
  mask-image: url("../img/stek/stek.svg#htmlacademy");
  background-color: #666666;
  width: 27px;
  height: 34px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.footer__link-copyright:hover .footer__copyright-text::before {
  background-color: #68b738;
}

.footer__link-copyright:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .footer__wrappers {
    padding: 35px 30px 38px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__wrapper {
    width: auto;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .footer__wrapper:not(:last-child) {
    border-bottom: none;
  }

  .footer__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;

    list-style-type: none;
    margin: 0 0 0 34px;
    padding: 0;
  }

  .footer__link-copyright {
    width: auto;
    justify-content: end;
    // gap: 20px;
  }

  .footer__copyright-text {
    padding-right: 48px;
  }
}

@media (min-width: 1260px) {
  .footer__wrappers {
    width: 1220px;
    margin: 0 auto;
    padding: 48px 0 50px;
  }
}
