.form__header {
  padding: 0 20px;
}

.form__title {
  margin: 27px 0 37px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.form__text {
  margin-bottom: 39px;
  width: 226px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: $color-text;
}

.form__items {
  padding: 0 20px;
  margin: 0;
  list-style-type: none;
}

.form__item {
  display: flex;
  align-items: center;
}

.form__fieldset--info {
  padding: 0 0 24px;
}

.form__fieldset--info .form__item + .form__item {
  margin-top: 14px;
}

.form__fieldset--info .form__label {
  padding-right: 13px;
  white-space: nowrap;
  word-wrap: break-word;
}

.form__fieldset--info .form__input {
  width: 100%;
  padding: 14px 15px 13px;
  font-family: $font-heading;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: $color-text;
  border: 1px solid $color-line-gray;
}

.form__fieldset--info .form__input::placeholder {
  text-transform: none;
  font-family: $font-text;
  font-size: 16px;
  line-height: 18px;
  opacity: 0.5;
}

.form__fieldset--target {
  padding: 22px 0 19px;
  border-top: 1px solid $color-line-gray;
  border-bottom: 1px solid $color-line-gray;
}

.form__fieldset--target label {
  position: relative;
  padding-left: 45px;
}

.form__fieldset--target .form__item + .form__item {
  margin-top: 20px;
}

.form__fieldset--target label::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 1px solid $color-line-gray;
  border-radius: 50%;
}

.form__fieldset--target input:checked + label::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 13px;
  height: 13px;
  top: 50%;
  left: 9px;
  transform: translateY(-50%);
  background-color: $color-bg-green;
  border-radius: 50%;
}

.form__fieldset--pet-owner {
  padding: 0 20px 0;
}

.form__legend {
  width: 187px;
  padding: 24px 20px 35px 0;
  text-transform: none;
  color: $color-black;
  font-size: 24px;
  line-height: 26px;
  background-color: $color-white;
}

.form__legend::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 40px;
  left: 20px;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: $color-bg-green;
}

.form__fieldset--pet-owner .form__item + .form__item {
  margin-top: 14px;
}

.form__fieldset--pet-owner .form__label {
  padding-right: 13px;
  white-space: nowrap;
  word-wrap: break-word;
}

.form__fieldset--pet-owner .form__input {
  width: 100%;
  padding: 14px 15px 13px;
  font-family: $font-heading;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: $color-text;
  border: 1px solid $color-line-gray;
}

.form__fieldset--comment {
  padding: 0 20px 0;
}

.form__fieldset--comment .form__legend {
  width: 121px;
  padding: 24px 20px 38px 0;
}

.form-section__input {
  width: 100%;
  padding: 0;
  border: 1px solid $color-line-gray;
  border-radius: 0;
}

.form-section__input::placeholder {
  padding: 14px 14px 0;
  font-family: $font-heading;
  font-size: 16px;
  line-height: 18px;
  color: $color-text;
  text-transform: uppercase;
  text-align: center;
}

.form__fieldset--optional {
  padding: 0 20px 34px;
}

.form__fieldset--optional .form__legend {
  width: 121px;
  padding: 24px 38px 34px 0;
}

.form__fieldset--optional .form__items {
  padding: 0;
}

.form__fieldset--optional label {
  position: relative;
  padding-left: 45px;
}

.form__fieldset--optional .form__item + .form__item {
  margin-top: 20px;
}

.form__fieldset--optional label::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 1px solid $color-line-gray;
}

.form__fieldset--optional input:checked + label::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  background-image: url("../../img/tick.svg");
  background-repeat: no-repeat;
}

.button__wrapper {
  padding: 0 20px;
  margin-bottom: 32px;
}

.form__button {
  padding: 10px 20px;
  margin-bottom: 21px;
  width: 100%;
  background-color: $color-bg-green;
  border: none;
  color: $color-white;
  font-family: $font-heading;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.form__footnote {
  margin: 0;
  font-family: $font-text;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

@media (min-width: 768px) {
  .form__header {
    padding: 0 70px;
  }

  .form__title {
    margin: 80px 0 54px;
    font-size: 60px;
    line-height: 60px;
  }

  .form__text {
    margin-bottom: 66px;
    width: 325px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__fieldset {
    margin: 0;
    padding: 0 70px 72px;
    border: none;
    // text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    // color: $color-text;
  }

  .form__items {
    padding: 0;
    // margin: 0;
    // list-style-type: none;
  }

  // .form__item {
  //   display: flex;
  //   align-items: center;
  // }

  // .form__fieldset--info {
  //   padding: 0 0 24px;
  // }

  .form__fieldset--info .form__item + .form__item {
    margin-top: 20px;
  }

  // .form__fieldset--info .form__label {
  //   padding-right: 13px;
  //   white-space: nowrap;
  //   word-wrap: break-word;
  // }

  .form__fieldset--info .form__input {
    // width: 100%;
    padding: 11px;
    font-family: $font-heading;
    // text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    // color: $color-text;
    // border: 1px solid $color-line-gray;
  }

  .form__fieldset--info .form__input::placeholder {
    // text-transform: none;
    // font-family: $font-text;
    font-size: 18px;
    line-height: 18px;
    // opacity: 0.5;
  }

  .form__fieldset--target {
    margin: 0 70px 35px;
    border: 1px solid $color-line-gray;
    padding: 23px 27px 27px;
    // border-top: 1px solid $color-line-gray;
    // border-bottom: 1px solid $color-line-gray;
  }

  .form__fieldset--target label {
    // position: relative;
    padding-left: 55px;
  }

  .form__fieldset--target .form__item + .form__item {
    margin-top: 30px;
  }

  .form__fieldset--target label::before {
    // content: "";
    // position: absolute;
    // box-sizing: border-box;
    width: 40px;
    height: 40px;
    // top: 50%;
    // left: 0;
    // transform: translateY(-50%);
    // border: 1px solid $color-line-gray;
    // border-radius: 50%;
  }

  .form__fieldset--target input:checked + label::after {
    // content: "";
    // position: absolute;
    // box-sizing: border-box;
    width: 18px;
    height: 18px;
    // top: 50%;
    left: 11px;
    // transform: translateY(-50%);
    // background-color: $color-bg-green;
    // border-radius: 50%;
  }

  // .form__fieldset--pet-owner {
  //   padding: 0 20px 0;
  // }

  // .form__fieldset {
  //   position: relative;
  // }

  .form__legend {
    width: auto;
    padding: 24px 40px 76px 0;
    // text-transform: none;
    // color: $color-black;
    font-size: 36px;
    line-height: 36px;
    background-color: $color-white;
  }

  .form__legend::after {
    // content: "";
    // position: absolute;
    // z-index: -1;
    top: 45px;
    left: 70px;
    right: 0;
    height: 2px;
    width: 100%;
    background-color: $color-bg-green;
  }

  .form__legend::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 45px;
    left: 0;
    // right: 3px;
    height: 2px;
    width: 30px;
    background-color: $color-bg-green;
  }

  .form__fieldset--pet-owner .form__item + .form__item {
    margin-top: 20px;
  }

  // .form__fieldset--pet-owner .form__label {
  //   padding-right: 13px;
  //   white-space: nowrap;
  //   word-wrap: break-word;
  // }

  .form__fieldset--pet-owner .form__input {
    // width: 100%;
    padding: 11px 20px;
    // font-family: $font-heading;
    // text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    // color: $color-text;
    // border: 1px solid $color-line-gray;
  }

  .form__fieldset--comment {
    // padding: 0 20px 0;
    margin-top: -40px;
  }

  .form__fieldset--comment .form__legend {
    width: auto;
    padding: 24px 40px 87px 0;
  }

  // .form-section__input {
  //   width: 100%;
  //   padding: 0;
  //   border: 1px solid $color-line-gray;
  //   border-radius: 0;
  // }

  .form-section__input::placeholder {
    padding: 11px 20px 0;
    // font-family: $font-heading;
    font-size: 20px;
    line-height: 30px;
    // color: $color-text;
    // text-transform: uppercase;
    text-align: start;
  }

  // .form__fieldset--optional {
  //   padding: 0 20px 34px;
  // }

  .form__fieldset--optional .form__legend {
    width: auto;
    padding: 24px 40px 57px 0;
  }

  .form__fieldset--optional .form__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 32px;
    grid-template-rows: 40px;
    padding: 0;
  }

  .form__fieldset--optional label {
    // position: relative;
    padding-left: 65px;
  }

  .form__fieldset--optional .form__item + .form__item {
    margin-top: 0;
  }

  .form__fieldset--optional label::before {
    // content: "";
    // position: absolute;
    // box-sizing: border-box;
    width: 40px;
    height: 40px;
    // top: 50%;
    // left: 0;
    // transform: translateY(-50%);
    // border: 1px solid $color-line-gray;
  }

  .form__fieldset--optional input:checked + label::after {
    // content: "";
    // position: absolute;
    // box-sizing: border-box;
    width: 26px;
    height: 26px;
    top: 50%;
    left: 7px;
    // transform: translateY(-50%);
    // background-image: url("../../img/tick.svg");
    // background-repeat: no-repeat;
  }

  .button__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;

    padding: 0 70px;
    margin-bottom: 72px;

    align-items: center;
  }

  .form__button {
    padding: 13px 20px;
    margin-bottom: 0;
    min-width: 282px;
    // background-color: $color-bg-green;
    // border: none;
    // color: $color-white;
    // font-family: $font-heading;
    font-size: 20px;
    line-height: 20px;
    // text-align: center;
    // text-transform: uppercase;
  }

  .form__footnote {
    margin: 0;
    // font-family: $font-text;
    font-size: 16px;
    line-height: 16px;
    text-align: start;
  }
}

@media (min-width: 1260px) {
  .form__header {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0;
  }

  .form__title {
    margin: 93px 0 56px;
  }

  .form__fieldset {
    position: relative;
    // max-width: 1220px;
    margin: 0;
    padding: 0;
    // border: none;
    // text-transform: uppercase;
    // font-size: 20px;
    // line-height: 20px;
    // color: $color-text;
  }

  .form__wrapper {
    display: grid;
    max-width: 1220px;
    margin: 0 auto 69px;
    grid-template-columns: 1fr 1fr;
    column-gap: 81px;
  }

  .form__items {
    padding: 0;
    // margin: 0;
    // list-style-type: none;
  }

  .form__fieldset--target {
    // box-sizing: border-box;
    // max-width: 1220px;
    // margin: 0 auto;
    border: 1px solid $color-line-gray;
    padding: 40px 28px 25px;
    // border-top: 1px solid $color-line-gray;
    //   border-bottom: 1px solid $color-line-gray;
  }

  .form__fieldset--target label {
    // position: relative;
    padding-left: 55px;
  }

  .form__fieldset--target .form__item + .form__item {
    margin-top: 30px;
  }

  .form__fieldset--target label::before {
    // content: "";
    // position: absolute;
    // box-sizing: border-box;
    width: 40px;
    height: 40px;
    // top: 50%;
    // left: 0;
    // transform: translateY(-50%);
    // border: 1px solid $color-line-gray;
    // border-radius: 50%;
  }

  .form__fieldset--target input:checked + label::after {
    // content: "";
    // position: absolute;
    // box-sizing: border-box;
    width: 18px;
    height: 18px;
    // top: 50%;
    left: 11px;
    // transform: translateY(-50%);
    // background-color: $color-bg-green;
    // border-radius: 50%;
  }

  .form__fieldset--pet-owner,
  .form__fieldset--comment,
  .form__fieldset--optional {
    // box-sizing: border-box;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .form__legend {
    // width: auto;
    padding: 24px 40px 76px;
    // text-transform: none;
    // color: $color-black;
    // font-size: 36px;
    // line-height: 36px;
    background-color: $color-white;
  }

  .form__legend::after {
    // content: "";
    position: absolute;
    // z-index: -1;
    // top: 45px;
    left: -600px;
    right: 0;
    // height: 2px;
    width: 200%;
    // background-color: $color-bg-green;
  }

  .form__legend::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 45px;
    left: 0;
    // right: 3px;
    height: 0;
    width: 0;
    background-color: $color-bg-green;
  }

  .form__fieldset--pet-owner .form__item + .form__item {
    margin-top: 0;
  }

  .form__fieldset--pet-owner .form__items {
    display: grid;
    max-width: 1220px;
    padding: 0;
    margin: 0 auto 67px;
    grid-template-columns: 1fr 1fr;
    column-gap: 81px;
  }

  // .form__fieldset--pet-owner .form__label {
  //   padding-right: 13px;
  //   white-space: nowrap;
  //   word-wrap: break-word;
  // }

  .form__fieldset--pet-owner .form__input {
    // width: 100%;
    padding: 11px 20px;
    // font-family: $font-heading;
    // text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    // color: $color-text;
    // border: 1px solid $color-line-gray;
  }

  .form__fieldset--info .form__input::placeholder {
    // text-transform: none;
    // font-family: $font-text;
    font-size: 18px;
    line-height: 18px;
    // opacity: 0.5;
  }

  .form__fieldset--comment {
    // padding: 0 20px 0;
    margin-top: 0;
  }

  .form__fieldset--comment .form__legend {
    width: auto;
    padding: 24px 40px 76px;
  }

  .form__fieldset--comment .form__items {
    max-width: 1220px;
    margin: 0 auto 67px;
  }

  .form-section__input {
    min-height: 174px;
    // width: 100%;
    // padding: 0;
    // border: 1px solid $color-line-gray;
    // border-radius: 0;
  }

  .form__fieldset--optional .form__legend {
    // width: auto;
    padding: 24px 40px 57px;
  }

  .form__fieldset--optional .form__items {
    max-width: 1220px;
    margin: 0 auto 61px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 0;
    grid-template-rows: 40px;
    padding: 0;
  }

  .button__wrapper {
    max-width: 1220px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;

    padding: 0 70px;
    margin-bottom: 82px;

    align-items: center;
  }

  .form__button {
    padding: 13px 20px;
    margin-bottom: 0;
    min-width: 282px;
    // background-color: $color-bg-green;
    // border: none;
    // color: $color-white;
    // font-family: $font-heading;
    font-size: 20px;
    line-height: 20px;
    // text-align: center;
    // text-transform: uppercase;
  }

  .form__footnote {
    margin: 0;
    // font-family: $font-text;
    font-size: 16px;
    line-height: 16px;
    text-align: start;
  }
}
