.main-catalog__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 27px 0 41px;
  padding: 0 20px;

  @media (min-width: 767px) {
    font-size: 60px;
    line-height: 60px;
    margin: 80px 0 82px;
    padding: 0 30px;
  }

  @media (min-width: 1220px) {
    max-width: 1220px;
    margin: 75px auto 84px;
    padding: 0;
  }
}
