.map__wrapper-contacts {
  padding: 28px 20px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  color: $color-black;
}

.map__title {
  width: 125px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.map__wrapper-text {
  width: 140px;
  font-family: $font-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.map__text {
  margin: 0;
}

.map__wrapper-img {
  position: relative;
  width: 100%;
  height: 362px;
}

.map__wrapper-img iframe {
  width: 100%;
  display: block;
}

.map__img {
  position: absolute;
  width: 320px;
  margin: 0 auto;
  z-index: -1;
  top: 0px;
  // left: 0;
  // right: 0;
  object-fit: none;
  // object-position: center center;
}

@media (max-width: 767px) {
  .map__wrapper-contacts--bg {
    background-color: $color-bg-gray;
    padding: 28px 20px 26px;
  }

  .map__wrapper-img iframe {
    height: 362px;
  }
}

@media (min-width: 768px) {
  .map__wrapper-contacts {
    padding: 60px 30px;
  }

  .map__wrapper-contacts--bg {
    background-color: $color-bg-gray;
    padding: 60px 70px;
  }

  .map__title {
    width: 160px;
    padding-right: 20px;
    font-size: 20px;
    line-height: 26px;
  }

  .map__wrapper-text {
    width: 160px;
    font-size: 16px;
    line-height: 20px;
  }

  .map__text {
    text-align: end;
  }

  .map__text:first-child {
    margin-bottom: 20px;
  }

  .map__wrapper-img iframe {
    height: 400px;
  }
}

@media (min-width: 1260px) {
  .map {
    position: relative;
  }

  .map__wrapper-contacts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-108%, -50%);
    box-sizing: border-box;
    width: 565px;
    display: flex;
    justify-content: space-between;

    background-color: $color-white;
    padding: 60px 80px;
  }

  .map__wrapper-contacts--bg {
    background-color: $color-white;
    padding: 60px 70px;
  }

  .map__title {
    width: 170px;
    padding-right: 20px;
    font-size: 20px;
    line-height: 26px;
  }

  .map__wrapper-text {
    width: 160px;
    font-size: 16px;
    line-height: 20px;
  }

  .map__text {
    text-align: start;
  }

  .map__text:first-child {
    margin-bottom: 20px;
  }
}
