.optional {
  margin: 38px 0 0;

  @media (min-width: 768px) {
    margin: 92px 0 0;
  }

  @media (min-width: 1300px) {
    margin: 101px 0 0;
    border-top: 2px solid $color-bg-green;
  }
}

.optional__wrapper-line {
  padding: 43px 0 35px;
  position: relative;
  border-top: 2px solid $color-bg-green;

  @media (min-width: 768px) {
    margin: 0 0 75px;
    padding: 92px 0 0;
  }

  @media (min-width: 1300px) {
    box-sizing: border-box;
    width: 1300px;
    margin: 0 auto 84px;
    padding: 88px 0 0;
    border-top: none;
  }
}

.optional__title {
  position: absolute;
  margin: 0;
  padding: 0 20px;
  top: -16px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  background-color: $color-white;

  @media (min-width: 768px) {
    top: -22px;
    padding: 0 40px;
    margin: 0 30px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: 1300px) {
    padding: 0 40px;
    margin: 0;
    top: -28px;
  }
}

.optional__wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    padding: 0 30px;
  }

  @media (min-width: 1300px) {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
    flex-direction: row;
  }
}

.optional__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: 1300px) {
    width: 896px;
    margin: 0 80px 0 0;
  }
}

.optional__item {
  padding: 15px 0 18px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 40px;
  border-top: 1px solid $color-line-gray;

  @media (min-width: 768px) {
    padding: 26px 36px 27px;
    grid-template-columns: 1fr 280px;
    column-gap: 30px;
    grid-template-rows: auto 40px;
    border-left: 1px solid $color-line-gray;
    border-right: 1px solid $color-line-gray;
  }

  @media (min-width: 1300px) {
    padding: 15px 0 17px;
    grid-template-columns: auto 285px 244px;
    column-gap: 40px;
    grid-template-rows:  minmax(40px, max-content);
    align-items: center;

    border-left: none;
    border-right: none;
  }
}

.optional__item:last-child {
  border-bottom: 1px solid $color-line-gray;
}

.optional__item-link {
  text-decoration: none;
  text-transform: uppercase;
  color: $color-text-card;

  @media (min-width: 1300px) {
    align-self: center;
  }
}

.optional__item-title {
  font-family: $font-heading;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 13px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 22px;
    margin: 0 0 22px;
  }

  @media (min-width: 1300px) {
    margin: 0;
    line-height: 24px;
  }
}

.optional__item-volume {
  @media (max-width: 767px) {
    max-width: 250px;
    line-height: 18px;
  }
}

.optional__item-description {
  display: flex;
  justify-content: space-between;
  margin: 0 0 13px;
  font-family: $font-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $color-text;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
    justify-content: end;
    margin-top: 3px;
  }

  @media (min-width: 1300px) {
    justify-content: space-between;
    margin: 0;
    align-self: center;
  }
}

.optional__item-price {
  margin: 0;

  @media (min-width: 768px) {
    padding-right: 5px;
  }
}

.optional__item-volume {
  margin: 0 20px 0 0;

  @media (min-width: 768px) {
    margin: 0 10px 0 0;
  }

  @media (min-width: 1300px) {
    margin: 0;
  }
}

.optional__item-price {
  @media (min-width: 768px) {
    min-width: 80px;
    text-align: end;
  }
}

.optional__link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $color-bg-green;
  color: $color-white;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
  }

  @media (min-width: 768px) {
    grid-column: 2 span;
  }

  @media (min-width: 1300px) {
    grid-column: auto;
    padding: 10px;
  }
}

.optional__present-wrapper {
  position: relative;
  margin: 33px 0 0;
  width: 100%;
  height: 290px;
  overflow: hidden;
  // border: 1px solid salmon;

  &::before {
    position: absolute;
    content: "";
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(104, 183, 56, 0.85);
  }

  @media (min-width: 768px) {
    margin: 70px 0 0;
    height: 200px;
  }

  @media (min-width: 1300px) {
    margin: 0;
    width: 245px;
    height: 288px;
  }
}

.optional__present-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.optional__present-link {
  display: block;
  width: 161px;
  margin: 0 auto;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  bottom: 43px;

  font-family: $font-text;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  color: $color-white;

  &::before {
    position: absolute;
    z-index: 10;
    content: "";
    top: -130px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 78px;
    height: 81px;
    background-image: url("../img/stek/stek.svg#icon-gift");
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    width: 550px;
    margin: 0 auto;
    bottom: 68px;


    &::before {
      top: 50%;
      transform: translateY(-50%);
      margin: 0 auto 0 0;
    }
  }

  @media (min-width: 1300px) {
    width: 161px;
    bottom: 43px;

    &::before {
      top: -130px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.optional__present-link p {
  margin: 0;

  @media (min-width: 768px) {
    width: 161px;
    margin-right: 45px;
    margin-left: auto;
    padding-left: 60px;
    text-align: start;
  }

  @media (min-width: 1300px) {
    width: auto;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
  }
}
