.unique-point {
  position: relative;
  margin-bottom: 20px;
}

.unique-point__wrapper-bg {
  background: linear-gradient(149deg, #4b4f4f 0%, #686570 26.75%, #424247 45.83%, #434147 72.5%, #444348 100%);
}

.unique-point__bg-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;

  margin: 0 auto;
  display: block;
}

.unique-point__wrapper-text {
  max-width: 767px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: $color-white;
}

.unique-point__title {
  padding-top: 27px;
  margin: 0 0 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.unique-point__text {
  margin: 0 0 29px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}

.unique-point__wrapper-product {
  margin: 0 auto 3px;
}

.unique-point__product-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;

  margin: 0 auto;
  display: block;
}

.unique-point__link {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  background-color: $color-bg-green;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.unique-point__link:hover {
  background-color: #5eaa2f;
}

.unique-point__link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
}

@media (max-width: 767px) {
  .unique-point__wrapper-bg {
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  .unique-point__wrapper-bg::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(104, 183, 56, 0.85);
  }

  .unique-point__link {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .unique-point {
    margin-bottom: 0;
  }

  .unique-point__wrapper-bg {
    display: none;
  }

  .unique-point__wrapper-text {
    align-items: start;
    color: #000000;
    padding: 0 30px;
  }

  .unique-point__title {
    padding: 67px 0 0 90px;
    margin: 0 0 40px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
  }

  .unique-point__text {
    margin: 0 0 50px;
    padding: 0 0 0 90px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }

  .unique-point__wrapper-product {
    margin: -85px 0 0 0;
    order: 4;
    z-index: -1;
  }

  .unique-point__product-img {
    width: 709px;
    height: auto;
  }

  .unique-point__link {
    margin: 0 0 0 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 244px;
    height: 54px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: 1260px) {
  .unique-point {
    display: flex;
    min-height: 694px;
    flex-direction: row;
    position: static;
    margin-bottom: 82px;
  }

  .unique-point__wrapper-bg {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    order: 2;
    object-fit: fill;
    background: linear-gradient(180deg, #4d4c51 0%, #535257 45.92%, #535257 72%, #4f5054 100%);
  }

  .unique-point__wrapper-bg::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(104, 183, 56, 0.85);
  }

  .unique-point__bg-img {
    height: 100%;
    object-position: 0 0;
  }

  .unique-point__wrapper-bg-2 {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    order: 1;
    z-index: 1;
  }

  .unique-point__wrapper-text {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0 0 0 0;
    width: 610px;
  }

  .unique-point__title {
    padding: 225px 0 0 80px;
  }

  .unique-point__text {
    margin: 0 0 52px;
    padding: 0 0 0 80px;
  }

  .unique-point__link {
    margin: 0 0 0 80px;
  }

  .unique-point__wrapper-product {
    position: absolute;
    margin: 0;
    /* margin: -80px auto 0; */
    order: 0;
    /* z-index: -1;    */
    top: 143px;
    right: -388px;
  }

  .unique-point__product-img {
    display: block;
    width: 552px;
    height: auto;
    object-fit: cover;
  }
}
