.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  margin: 0;

  font-family: "Oswald", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.form__input[type="number"] {
  appearance: textfield;
}

.form__input::-webkit-outer-spin-button,
.form__input::-webkit-inner-spin-button {
  appearance: none;
}
